<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}
    <div class="container">
        <ul>
            <div class="header">
            <h1>Make it <span>Code!!!</span> </h1>
            <div class="small">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          
           
     
           
            
          
            </div>
            </div>
       
        </ul>

    </div>
    {% endblock %}
    
</body>
</html>